
# load the application module (app.coffee)
modules: ['cs!$/app']

# RequireJS config - exactly as in RequireJS docs
require:
  paths:
    app: '../app'

  # requirejs build config
  build:
    zestLayer:
      include: ['^!cs!app/home']

# port to run the server on
port: 8080
